<header>
  <h1>Blocks</h1>

  <ul class="actions">
    <li><%= link_to "New Block", new_block_path, class: "new" %></li>
  </ul>
</header>


<div id="blocks">
  <% @blocks.each do |block| %>
    <h2><%= link_to block.day, block %></h2>
    <p><%= block.time %></p>
  <% end %>
</div>